<ion-content>
  <div class="full-height center">
    <div class="center-column">
      <ion-img src="assets/images/logo-light.png"></ion-img>

      <form [formGroup]="form" (submit)="onSubmit()">
        <ng-container *ngFor="let field of fields; let i = index">
          <div class="form-group">
            <!-- [class.text-danger]="hasError(field.name)" -->
            <!-- (ionBlur)="setLabelColor(i)" -->
            <label>{{ field.label }}</label>
            <ion-input
              class="form-control"
              [type]="field.type"
              [formControlName]="field.name"
            ></ion-input>
          </div>
          <ion-control-error
            [control]="form.get(field.name)"
            [label]="field.label"
          ></ion-control-error>
        </ng-container>

        <ion-row>
          <ion-col>
            <ion-button type="submit" color="primary" expand="block">
              <ion-icon slot="start" name="log-in-outline"></ion-icon>
              Login
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
    </div>
  </div>
</ion-content>
