<ion-content>
  <div class="full-height center">
    <div class="center-column">
      <ion-img src="assets/images/logo-light.png"></ion-img>

      <form [formGroup]="form" (submit)="onSubmit()">

        <ng-container *ngFor="let field of fields; let i = index">
          <ion-item lines="full">
            <ion-label position="floating" [color]="field.color">{{ field.label }}</ion-label>
            <ion-input [type]="field.type" [formControlName]="field.name" (ionBlur)="setLabelColor(i)"></ion-input>
          </ion-item>
          <ion-control-error [control]="form.get(field.name)" [label]="field.label"></ion-control-error>
        </ng-container>

        <ion-row>
          <ion-col>
            <ion-button type="submit" color="primary" expand="block">
              <ion-icon slot="start" name="log-in-outline"></ion-icon>
              Login
            </ion-button>
          </ion-col>
        </ion-row>

      </form>
    </div>
  </div>
</ion-content>