<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button (click)="dismiss()" icon="close"> </ion-back-button>
    </ion-buttons>
    <ion-title> Solicitar um orçamento </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="content">
    <div class="progress mt-2" style="width: 95%">
      <div class="progress-bar" [ngStyle]="{ width: percent }">
        {{ percent }}
      </div>
    </div>
  </div> -->
  <!-- {{ steps | json }} -->
  <div class="content">
    <div class="stepwizard">
      <div class="stepwizard-row setup-panel">
        <div class="stepwizard-step" *ngFor="let step of steps">
          <button
            type="button"
            class="btn btn-circle"
            [ngClass]="
              step == actualStep ? 'btn-primary' : 'btn-secondary disabled'
            "
          >
            {{ step }}
          </button>
          <!-- <p>Step {{ step }}</p> -->
        </div>
      </div>
    </div>
  </div>

  <ng-container [ngSwitch]="actualStep">
    <app-step1
      [budget]="budget"
      (nextStep)="nextStep($event)"
      *ngSwitchCase="1"
    ></app-step1>

    <app-step2
      [budget]="budget"
      (prevStep)="prevStep($event)"
      (nextStep)="nextStep($event)"
      *ngSwitchCase="2"
    ></app-step2>

    <app-step3
      [budget]="budget"
      (prevStep)="prevStep($event)"
      (nextStep)="nextStep($event)"
      *ngSwitchCase="3"
    ></app-step3>
    <app-step4
      [budget]="budget"
      (prevStep)="prevStep($event)"
      (nextStep)="nextStep($event)"
      *ngSwitchCase="4"
    ></app-step4>
    <app-step5
      (prevStep)="prevStep()"
      (nextStep)="nextStep($event)"
      *ngSwitchCase="5"
    ></app-step5>
  </ng-container>

  {{ budget | json }}
</ion-content>
